# Xcode
*.xcuserstate
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.xcarchive
.build/

# Swift Package Manager
.swiftpm/
.build/
Packages/

# macOS
.DS_Store
._*
*.swp
*.xcconfig
MovieExplorer/Config.xcconfig
